.music-player {
  position: relative;
  z-index: 1000;
}

.music-control-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 18px;
  margin-right: 10px;
  /* color: #fff; */
}

.music-control-button:hover {
  transform: scale(1.1);
}
.music-control-button .music-text {
  font-size: 14px;
  margin-right: 4px;
  color: #fff;
  font-weight: 600;
}
.icon-music {
  width: 16px;
  height: 16px;
}


